# Dependencias
node_modules/

# Builds / salida
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistemas operativos
.DS_Store
Thumbs.db

# Entornos
.env
.env.local
.env.*.local
